body {
  background: rgb(0, 0, 0);
  color: #898bf4;
  font-family: monospace;
  text-align: center;
}

body {
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 10px 20px;
  margin: 20px;
  font-size: 16px;
  cursor: pointer;
}

.ascii {
  font-family: monospace;
  white-space: pre;
  line-height: 1;
  overflow-x: auto;
  font-size: clamp(4px, 1.2vw, 8px);
}

#loading {
  color: #00ffcc;
  font-family: monospace;
  margin-top: 30px;
}

@media (max-width: 600px) {
  .ascii {
    font-size: 6px;
  }

  h1 {
    font-size: 18px;
  }

  button {
    font-size: 14px;
  }
}